# python
*__pycache__/*
*.pyc

# jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints/*

**/.env
# ignoramos los c y hdf5 porque son muy pesados
# detunings
assets/codigo/detunings/1at2lvl/*
!assets/codigo/detunings/1at2lvl/**/
assets/codigo/detunings/1at2lvl/**/*.h5

assets/codigo/detunings/1at4lvl/*
!assets/codigo/detunings/1at4lvl/**/
assets/codigo/detunings/1at4lvl/**/*.h5

# escalabilidad
assets/codigo/escalabilidad/cfiles/
assets/codigo/escalabilidad/h5files/